{% extends "base.html" %}
{% block body %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12">
            <h1>Easy Peasy Incoming Webhooks</h1>

                <p>Because there's no need to make things more complicated than they already are. <br><br>
                And now, some hiposter ipsum for you: <br>
                You probably haven't heard of them quinoa thundercats, irony DIY cred wolf waistcoat ennui artisan yr. Photo booth VHS gluten-free echo park, vinyl tattooed kombucha pour-over polaroid jean shorts. Biodiesel mumblecore pinterest actually mlkshk, fingerstache sustainable everyday carry listicle affogato. Church-key try-hard sartorial tofu, lomo helvetica next level offal williamsburg narwhal. Artisan banh mi green juice, VHS twee banjo yr lomo before they sold out art party small batch. Next level tilde asymmetrical venmo kinfolk. Cliche farm-to-table skateboard next level church-key truffaut.</p>


                <!-- Webhook Form Submission -->
                <div>
                <h3>Build your JSON here</h3>
			<form action="/submit" method="post">
			<label>"text" : <input type="text" name="text"></label><br><br>

				<input type="submit" value="Do it!">
			</form>


		<br>
		<br>
		<br>
		<!-- Handle flash messages here -->
		<h3>Did it work?</h3>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
		    <ul class=flashes>
		    {% for message in messages %}
		      <li>{{ message }}</li>
		    {% endfor %}
		    </ul>
		  {% endif %}
		{% endwith %}
                </div>

            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->


{% endblock %}