{% extends "base.html" %}
{% block body %}

    <!-- Page Content -->
    <div class="container full" id="cats">

	<div class="row">
		<div class="col-md-9 col-sm-12">
		<h1>Easy Peasy Incoming Webhooks</h1>
			<br>
			<p>Because there's no need to make things more complicated than they already are. <br><br>

	                <!-- Webhook Form Submission -->
	                <h3>Build your message here</h3>
				<form action="/submit" method="post">
					<h5>Message Body</h5><br>
					<label>"main text" : <input type="text" name="main-text"></label><br>
					<label>"moar text" : <input type="text" name="moar-text"></label><br><br>
					<h5>Attachments</h5><br>
					<label>"title": <input type="text" name="title-1"></label>
					<label>"text": <input type="text" name="text-1"></label>
					<label>"color": <input type="text" name="color-1"></label><br><br><br>
					<label>"title": <input type="text" name="title-2"></label>
					<label>"text": <input type="text" name="text-2"></label>
					<label>"color": <input type="text" name="color-2"></label><br><br>
					<label>"title": <input type="text" name="title-3"></label>
					<label>"text": <input type="text" name="text-3"></label>
					<label>"color": <input type="text" name="color-3"></label><br><br>

					<br>
					<input type="submit" value="Show me the message!">
				</form>


			<br>
			<br>
			<br>
			<!-- Handle flash messages here -->
			<h3>Did it work?</h3>
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    <ul class=flashes>
			    {% for message in messages %}
			      <li>{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}
			{% endwith %}
                </div> <!-- close column -->
        </div> <!-- close row -->
    </div>
    <!-- /.container -->


{% endblock %}